/*
Theme Name: izara
Theme URI: https://wordpress.org/themes/izara
Author: codepopular
Author URI: https://profiles.wordpress.org/codepopular/
Description:izara is the soluation to make blog, consultance and business website. with izara you can use any page builder like elementor, visual composer or as you want. it its full responsive theme and all browser supported. so lets's enjoy it. 
Version: 1.0.0
Text Domain: izara
Tags: blog, right-sidebar, custom-background, featured-images, translation-ready
License: GNU General Public License
License URI: licensing/README_License.txt
*/


/*
CSS Indexing

1. Default CSS
2. Header CSS
3. Navigation CSS
4. Footer CSS
5. Breadcrumb CSS
6. Blog CSS
7. Comments CSS
8. Widgets CSS
9.Responsive CSS

*/
/******------------------------------
-----------Default CSS------------
------------------------------******/


body {
    font-size: 15px;
    line-height: 1.65;
    font-weight: 400;
    color: #666666;
    background-attachment: fixed;
    background-repeat: repeat;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    border: 0px solid;
    outline: none;
}



a:hover, a:active, a:focus{
    outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    color: #222222;
    margin: 0 0 15px;
}


input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="url"],
input[type="search"],
textarea {
    border: 1px solid #ddd;
    padding: 10px;
}
input[type="submit"],
button[type="submit"] {
    border: none;
    background-color: #0052a5;
    color: #fff;
    padding: 11px 20px;
    -webkit-transition: .25s ease-in;
    transition: .25s ease-in;
}
input[type="submit"]:hover, button[type="submit"]:hover {
    background-color: #333333;
}


div#page.izara-boxed-layout {
    width: 1170px;
    overflow: hidden;
    margin: 15px auto;
    box-shadow: 0 0 2px #ddd;
    background-color: #ffffff;
}
.izara-page-content .wpb_text_column ul {
    margin: 0px 0 0 0;
    padding: 0!important;
    list-style: none!important;
}
.izara-page-content .wpb_text_column li {
    position: relative;
    margin-bottom: 15px;
    padding: 0 0 0 28px;
}
.izara-page-content .wpb_text_column li:before {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    font-family: fontAwesome;
    content: "\f138";
    font-size: 15px;
    line-height: 23px;
    color: #000033;
    font-weight: bold;
}
blockquote {
    border-left: 5px solid;
}
::-webkit-input-placeholder {
    color: gray;
    -webkit-transition: opacity 250ms ease-in-out;
    transition: opacity 250ms ease-in-out;
}

.izara-internal-area ul#menu-services-nav li {
    display: block;
    padding: 0 0 0 25px;
    margin-bottom: 2px;
    color: #222;
    font-weight: 600;
    background-color: #f1f1f1;
    line-height: 35px;
}
.izara-internal-area ul#menu-services-nav li a {
    line-height: 55px;
}
.izara-internal-area ul#menu-services-nav li:hover {
    color: #fff;
}
.izara-internal-area ul#menu-services-nav li.current-menu-item {
    color: #fff;
}
.izara-internal-area ul#menu-services-nav li.current-menu-item a {
    color: #fff;
}
.izara-internal-area ul#menu-services-nav li:hover a {
    color: #fff;
}
/******------------------------------
-----------Header CSS------------
------------------------------******/

.header-top-area,
.header-top-area a {
    color: #888888;
}
.header-top-area a:hover {
	color: #ffffff;
}
.header-top-area {
    background-color: #0052a5;
    font-size: 13px;
    padding: 0;
    font-weight: 400;
}
.header-box {
    display: inline-block;
    margin-right: 35px;
    padding-top: 5px;
    padding-bottom: 7px;
}
.top_info span i.fa {
    padding-right: 10px;
	color: #ffffff;
}

.izara-header-area {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
}
.izara-header-area .logo a {
    display: inline-block;
}
.site-logo {
    padding: 6px 0 14px;
}
.site-logo h2 {
    margin: 10px 0;
    font-size: 25px;
}
.custom-logo-link img{
    max-width: 200px;
    max-height: 40px;
}
.txt-logo {
    padding: 22px 0;
}
.txt-logo h2 {
    margin: 10px 0;
    font-size: 25px;
}
.site-logo h2 a {
    color: #333;
}
.img-logo img {
    height: 50px;
}
/******------------------------------
-----------Navigation CSS------------
------------------------------******/

.mainmenu {
    text-align: right;
}
.mainmenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.mainmenu ul li {
    position: relative;
    display: inline-block;
}
.mainmenu ul li a {
    display: block;
    font-size: 13px;
    color: #333333;
    text-transform: uppercase;
    padding: 35px 15px 34px 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.mainmenu ul li:last-child a {
    padding-right: 0;
}
.mainmenu li ul {
    position: absolute;
    top: 120%;
    left: 0;
    opacity: 0;
    filter: Alpha(opacity=0);
    width: 210px;
    background-color: #222222;
	box-shadow: 0 3px 38px rgba(0, 0, 0, 0.1);
    list-style: none;
    margin: 0;
    padding: 0px 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: -1;
    text-align: left;
}
.mainmenu li:last-child ul {
    max-width: 120px;
}
.mainmenu li ul li {
    display: block;
    position: relative;
    padding: 0;
}

.mainmenu li ul li a {
    display: block;
    padding: 12px 26px 12px;
    font-size: 14px;
    text-decoration: none;
    text-transform: capitalize;
    color: #888888;
    font-weight: 400;
    -webkit-transition: none;
    transition: none;
    border-bottom: 1px solid rgba(255,255,255,.05);
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    padding-left: 26px;
}
.mainmenu li ul li a:hover {
    padding-left: 30px;
}
.mainmenu li ul li:hover,
.mainmenu li ul li a:hover {
    color: #f8f8f8;
}
.mainmenu li:hover > ul, .mainmenu li.focus > ul {
    opacity: 1;
    filter: Alpha(opacity=100);
    z-index: 99;
    top: 101%;
}
div.slicknav_menu {
    background: transparent;
    text-align: right;
    font-size: 15px;
}
.slicknav_menu .slicknav_menutxt {
    font-weight: 400;
}
.slicknav_btn {
    float: none;
    display: inline-block;
}
ul.slicknav_nav {
    background: #1d2738;
    text-align: center;
}
a.slicknav_btn {
    background: #002e5b;
    border-radius: 0;
    margin: 3px 1px 15px;
}
.slicknav_nav a {
    color: #ffffff;
}
.slicknav_menu {
    display: none;
}
.slicknav_nav .slicknav_row,
.slicknav_nav a {
    padding: 10px 0px;
    margin: 0px 0px;
    text-transform: uppercase;
}
.slicknav_nav .slicknav_row:hover {
    background: #002e5b;
    border-radius: 0;
}
.slicknav_nav a:hover {
    border-radius: 0px;
    background: #002e5b;
    color: #fff
}
.slicknav_nav ul {
    margin: 0 0 0 0px;
}
.izara-header-area {
    position: relative;
}
.menu_col {
    position: relative;
}
.izara-responsive-menu {
    position: absolute;
    right: 0;
    top: -75px;
    width: 100%;
    z-index: 999;
}
/******------------------------------
-----------Footer CSS------------
------------------------------******/

.izara-footer-area {
    background: #1b1b1b;
    padding: 20px 0;
    font-size: 14px;
}
.izara-site-footer {
    background: #222222;
}
.izara-site-footer,
.izara-site-footer a {
    color: #7E7E7E;
}
.izara-site-footer h3.footer-widget-title {
    color: #fff;
    font-size: 25px;
    margin-bottom: 25px;
}
.izara-site-footer .widget {
    padding: 75px 0 45px;
    margin: 0;
    font-size: 14px;
}
.izara-site-footer .widget p {
    margin-bottom: 15px;
}
.footer-top-widgets ul#menu-services-nav li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
    line-height: 20px;
    padding-bottom: 0px;
}
.footer-top-widgets ul#menu-services-nav li a {
    color: #fff;
    font-weight: 300;
}
.footer-top-widgets ul#menu-services-nav li:before {
    position: absolute;
    left: 0;
    top: 5px;
    width: 15px;
    height: 20px;
    display: block;
    text-align: center;
    font-family: fontAwesome;
    content: "\f105";
    font-size: 15px;
    color: #ffffff!important;
}
.footer-top-widgets .widget.widget_recent_entries li {
    line-height: 25px;
    margin-bottom: 10px;
}
.footer-top-widgets .widget.widget_recent_entries li a {
    color: #ffffff;
}
.footer-top-widgets .widget.widget_recent_entries li a:hover {
    text-decoration: underline;
	color: #ffffff!important;
}
.footer-top-widgets .widget.widget_nav_menu li a:hover {
    text-decoration: underline;
	color: #ffffff!important;
}
.footer-top-widgets .widget.widget_recent_entries li span.post-date {
    color: #fff;
    display: none;
}
.footer-top-widgets,
.footer-top-widgets a {
    line-height: 30px;
    color: #7E7E7E;
    font-weight: 400;
}
div.back-to-top {
    display: none;
    width: 45px;
    height: 45px;
    position: fixed;
    z-index: 999;
    right: 20px;
    bottom: 20px;
    background-color: #0052a5;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    outline: 0;
    color: #fff;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
    cursor: pointer;
}
div.back-to-top:hover {
    background-color: #222;
}
/******------------------------------
-----------Breadcrumb CSS------------
------------------------------******/

.izara-breadcrumb-area {
    padding: 80px 0 80px;
    text-align: center;
    font-size: 16px;
    background-size: cover;
    background-position: center;
    background-color: #0052a5;
    position: relative;
}
.izara-breadcrumb-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0052a5;
    color: #fff;
    text-align: center;
    position: relative;
    padding: 80px 0 80px;
}
.izara-breadcrumb-bg h1,
.izara-breadcrumb-bg a {
    color: #ffffff;
}
.breadcrumb-inner-content h1 {
    font-size: 45px;
    margin-bottom: 5px;
}
.izara-breadcrumb-area,
.izara-breadcrumb-area a {
    color: #ffffff;
}
.izara-breadcrumb-area span[property="itemListElement"] {
    display: inline-block;
    padding: 0 8px;
}
.izara-breadcrumb-area h1 {
    color: #ffffff;
    font-size: 48px;
    margin-bottom: 10px
}
.izara-internal-area.izara-v-composer-disabled {
    padding: 75px 0;
}
.blog-breadcrumb-bg, .izara-single-blog-breadcrumb {
	background-attachment: fixed;
}
.blog-breadcrumb-bg {
	background-attachment: fixed;
}
.izara-single-blog-breadcrumb:before, .izara-service-breadcrumb:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: #0052a5;
    opacity: .70;
    filter: Alpha(opacity=70);
}
.izara-single-blog-breadcrumb h1 {
    font-size: 35px;
}
.izara-project-breadcrumb {
    position: relative;
    z-index: 1;
	background-attachment: fixed;
}
.izara-project-breadcrumb:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: #0052a5;
    z-index: -1;
    opacity: .80;
    filter: Alpha(opacity=80);
}
/******------------------------------
-----------Blog CSS------------
------------------------------******/

.search article.page .entry-summary {
    display: none;
}
.search article.post .entry-summary {
    display: none;
}
.search article.project .entry-summary {
    display: none;
}
.search article.page {
    margin-bottom: 50px;
}
.izara-post-featured-content {
    margin-bottom: 30px;
    position: relative;
}
.izara-post-featured-content img {
    width: auto;
}
body.blog .izara-post-featured-content img {
    max-width: 100%;
    height: auto!important;
    vertical-align: bottom;
    margin: 0;
    border: 0;
}
article.post {
    margin-bottom: 50px;
}
.entry-footer {
    color: #7e858c;
    font-size: 93%;
	clear: both;
}
.entry-footer span a {
    color: #7e858c;
    text-decoration: underline;
}
.entry-footer span.edit-link a {
    color: #000;
    text-decoration: none;
}
article a.izara-btn {
    color: #fff;
	background-color: #0052a5;
    font-weight: 600;
    -webkit-transition: .3s;
    transition: .3s;
    display: inline-block;
    padding: 12px 27px;
    margin-bottom: 15px;
    margin-top: 10px;
}
article a.izara-btn:hover {
    background-color: #333333;
	color: #ffffff;
}
.single-post article.post {
    background-color: #ffffff;
}
.post-content-wrapn h2 {
    margin: 0 0 5px;
}
.entry-content ul {
    list-style: disc outside;
}
.entry-content ol {
	list-style: decimal;
}
.entry-content h6,
.entry-content h5,
.entry-content h4,
.entry-content h3,
.entry-content h2,
.entry-content h1 {
    margin-top: 0px;
    margin-bottom: 20px;
}
.post-meta > span:after {
    content: '-';
    margin-right: 5px;
}
.post-meta > span:last-child:after {
    display: none;
}
.post-meta > span i {
    display: none;
}
.post-meta > span a {
    color: #7e858c;
    margin-right: 8px;
    font-size: 13px;
}
.post-meta > span:hover a {
    color: #2dad82;
}
.post-meta {
    position: relative;
    margin-bottom: 40px;
}
.post-meta:after {
    background-color: #2dad82;
    bottom: -22px;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    width: 45px;
}
.navigation.posts-navigation .nav-links a {
    font-size: 12px;
    text-transform: uppercase;
    background-color: #666666;
    line-height: 26px;
    padding: 2px 15px;
    display: inline-block;
    width: auto;
    font-weight: 600;
    color: #ffffff;
    -webkit-transition: .4s;
    transition: .4s;
}
.navigation.posts-navigation .nav-links {
    border-top: none;
}
.navigation.posts-navigation .nav-links a:hover {
    background-color: #0052a5;
    color: #fff;
}
.entry-content address {
    border: 1px solid #ddd;
    padding: 10px;
}
.blog-page-padding {
    padding-right: 35px;
}
blockquote {
    font-size: 16px;
	font-style: italic;
	border-color: #0052a5;
}
/******------------------------------
-----------Comments CSS------------
------------------------------******/

body.page .comment-respond {
    padding: 0;
}
.logged-in .comment-form p:not(:first-child) {
    width: 100%;
}
.comment-form p > input[type="submit"] {
    width: auto;
    padding: 10px 25px;
	background-color: #0052a5;
}
.comment-form p > input[type="submit"]:hover {
    background-color: #333333;
}
.comment-list > li:not(:last-child) {
    margin-bottom: 30px;
}
.comment-list .children {
    margin-top: 30px;
}
.comments-area .edit-link a {
    color: #0052a5;
    margin: 0 5px;
}
.comment-form p > input[type="submit"] {
    border: none;
}
.bypostauthor {
    padding: 2px;
	display: block;
}

/******------------------------------
-----------Widgets CSS------------
------------------------------******/

.widget.widget_archive ul,
.widget.widget_categories ul {
    overflow: hidden
}
.widget_categories ul li:before {
    display: block;
    font-size: 12px;
    float: left;
    content: "\f105";
    font-family: "FontAwesome";
    padding-right: 12px;
    font-weight: 600;
    color: #222;
}
.widget_categories ul li a {
    width: 100%;
}
.widget a,
.widget li {
    -webkit-transition: .3s;
    transition: .3s;
}
.widget a:hover {
	color: #0052a5;
}
.widget select {
    width: 100%;
}

.error404 .search-form {
    max-width: 300px;
    margin: 30px auto 35px auto;
}
.error-title h1 {
    font-size: 100px;
    margin-bottom: 15px;
}

.error404 h2 {
    font-size: 23px;
    margin-bottom: 30px;
}
.error404 h3 {
    font-size: 16px;
    text-transform:  uppercase;
 font-weight: normal;
}
.error-404 .widget_search {
    margin-top: 20px;
}
section.error-404 {
    padding: 80px 0;
}
.error404 .izara-breadcrumb-area {
    padding: 90px 0 90px;
}
.error404 .izara-breadcrumb-area h1 {
    font-size: 35px;
    margin-bottom: 10px;
}

.search-form {
    position: relative;
}
.search-form input[type="submit"]:hover {
    
}
.search-form label {
    width:  100%;
    margin:  0;
}
.search-form label input.search-field {
    border: 0px solid #f0f0f0;
    padding: 15px 20px;
    width:  100%;
    font-weight: 300;
    font-size: 15px;
    background:  #f6f6f6;
}

.search-form input[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 20px;
    text-indent: -999999px;
    height: 100%;
    z-index: 111;
    background: none!important;
}
.search-form:after {
    content: "\f002";
    font-family:  "FontAwesome";
    color: #fff;
    font-size: 15px;
    font-weight:  300;
    position:  absolute;
    right: 0px;
    top:  0;
    z-index:0;
    background: #0052a5;
    padding:  15px 20px;
    border-radius: 0px;
}




.widget_search .widget-title {
    display: block;
}
.widget-title,
.widgettitle {
    font-size: 18px;
    margin-bottom: 35px!important;
    position: relative;
}
.widget-title:after,
.widgettitle:after {
    bottom: -17px;
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    width: 40px;
	background-color: #0052a5;
}
.widget.widget_recent_entries li {
    line-height: 25px;
    padding-bottom: 10px;
}
.widget_tag_cloud .tagcloud a {
    font-size: 14px!important;
    display: inline-block;
    position: relative;
    padding: 7px 20px 9px;
    margin: 0 5px 5px 0;
    background-color: #0052a5;
    color: #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 4px;
}
.widget_tag_cloud .tagcloud a:hover {
    background-color: #222;
    color: #ffffff;
}

/******------------------------------
-----------Contact & Quote Form CSS------------
------------------------------******/

.izara-care-cform input[type="text"],
.izara-care-cform input[type="email"],
.izara-care-cform input[type="password"],
.izara-care-cform input[type="tel"],
.izara-care-cform input[type="url"],
.izara-care-cform input[type="search"],
textarea {
    width: 100%;
    padding: 10px 15px;
    border: 0px solid;
    border-radius: 5px;
    background-color: #f5f5f5;
    color: #5f5f5f;
    margin-bottom: 20px;
}
.izara-care-cform textarea {
    height: 170px;
}
.izara-care-cform input[type="submit"] {
    margin-top: 20px;
    font-weight: 500;
    border-radius: 3px;
    -webkit-transition: .3s ease-in;
    transition: .3s ease-in;
}
.izara-care-cform input[type="submit"]:hover {
    background-color: #333333;
}
.izara-care-request-form {
    position: relative;
    overflow: hidden;
    color: #333;
}
.fcare-rform-title {
    font-size: 24px;
    color: #333;
    margin: 0 auto 10px;
    font-weight: 600;
}
.fcare-rform-desc {
    color: #222222;
    font-size: 17px;
    margin-bottom: 30px;
    margin-top: 20px;
    font-weight: 300;
}
.izara-care-request-form input[type="submit"] {
    border: 2px solid;
    margin-top: 25px;
    font-size: 16px;
    font-weight: 600;
    height: 50px;
    padding: 0px 32px;
    border-radius: 3px;
}
.izara-care-request-form input[type="submit"]:hover {
    background: transparent;
    border: 2px solid;
}
.select-container span {
    background-color: #3f5379;
    display: inline-block;
    width: 100%;
    padding: 10px;
}
.select-container select {
    width: 100%;
    background: #3f5379;
    border: 0px solid;
}
span.select-container {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
}
.izara-care-request-form input[type="text"],
.izara-care-request-form input[type="email"],
.izara-care-request-form input[type="tel"], .izara-care-request-form textarea {
    border: 1px solid #ECECEE;
    color: #7c7c7c!important;
    background: #ECECEE;
    margin-bottom: 22px;
    font-size: 15px;
    font-weight: 400;
    padding: 12px 25px;
    width: 100%;
    border-radius: 0px;
    line-height: 2.2;
}
.izara-care-request-form textarea {
    max-height: 175px;
}
.search-field::-webkit-input-placeholder {
    color: #525b64;
    font-weight: normal;
    -webkit-transition: opacity 250ms ease-in-out;
    transition: opacity 250ms ease-in-out;
}
.fcare-input::-webkit-input-placeholder {
    color: gray;
    -webkit-transition: opacity 250ms ease-in-out;
    transition: opacity 250ms ease-in-out;
}
.fcare-sbmit {
    padding: 12px 23px!important;
}

/******------------------------------
-----------Responsive CSS------------
------------------------------******/
/* Portrait tablets and medium desktops 1280px screen */

@media (min-width: 992px) and (max-width: 1200px) {
    .header-box {
        margin-right: 15px;
        padding-top: 9px;
    }
    .top_info span i.fa {
        padding-right: 6px;
    }
    .mainmenu ul li a {
        padding: 35px 13px 34px 23px;
    }
    .mainmenu li ul {
        width: 190px;
    }
	.mainmenu li:last-child ul {
		width: 115px;
	}
    .mainmenu li ul li a {
        padding: 12px 15px 12px;
        font-size: 13px;
        padding-left: 20px;
    }
    .content-box {
        font-size: 13px;
        padding-right: 0px;
        margin-bottom: 40px;
    }
    .content-icon {
        margin-right: 10px;
    }
    .content-box-inner {
        width: 71%;
    }
    .content-box-inner h3 {
        font-size: 18px;
        margin-bottom: 10px!important;
    }
    .izara-care-request-form {
        padding: 45px 0 15px 0px;
        max-width: 93.5%;
    }
    .izara-page-content .wpb_text_column li {
        margin-bottom: 7px;
    }
    .izara-site-footer .widget {
        padding: 60px 0;
    }
    .single-izara-project-wrap.col-md-4 .izara-project-thumb {
        height: 220px;
    }
    .single-izara-project-wrap.col-md-3 .izara-project-thumb {
        height: 175px;
    }
    .single-izara-project-wrap.col-md-3 .izara-project-inner h3 {
        font-size: 15px;
        margin-bottom: 3px!important;
    }
    .izara-project-inner h3:before {
        bottom: -4px;
        width: 35px;
        height: 4px;
        margin-left: -17.5px;
    }
}
/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-box {
        margin-right: 15px;
        padding-top: 0;
        margin-top: 15px;
    }
    .top_info span i.fa {
        padding-right: 6px;
    }
    .mainmenu ul li a {
        padding: 35px 13px 34px 23px;
    }
    .mainmenu li ul {
        width: 190px;
    }
    .mainmenu li ul li a {
        padding: 12px 15px 12px;
        font-size: 13px;
        padding-left: 20px;
    }
    .slicknav_menu {
        display: block;
    }
    .content-box {
        font-size: 14px;
    }
    .content-box-inner h3 {
        font-size: 16px;
        margin-bottom: 10px!important;
    }
    .izara-care-request-form {
        padding: 45px 0 15px 0px;
        max-width: 93.5%;
    }
    .izara-page-content .wpb_text_column li {
        margin-bottom: 7px;
    }
    .single-izara-project-wrap.col-md-4 .izara-project-thumb {
        height: 220px;
    }
    .single-izara-project-wrap.col-md-3 .izara-project-thumb {
        height: 175px;
    }
    .single-izara-project-wrap.col-md-3 .izara-project-inner h3 {
        font-size: 15px;
        margin-bottom: 3px!important;
    }
    .cta-box-text {
        font-size: 20px;
        letter-spacing: 0;
    }
    .cta-box-text {
        padding-right: 135px;
    }
    .cta-btn {
        font-size: 14px;
        padding: 10px 25px;
        font-weight: 400;
    }
    .post-block-meta {
        font-size: 13px;
        overflow: hidden;
    }
    .post-block-author {
        padding-left: 0px;
        display: block;
    }
    .top_info {
        text-align: center;
        margin-bottom: 20px;
    }
    .top_social {
        text-align: center;
        margin-bottom: 25px;
    }
    .mainmenu {
        display: none;
    }
    .custom-heading h1 {
        font-size: 39px;
    }
    .site-logo h2 {
        margin: 15px 0 18px;
    }
    .site-logo h2 a {
        color: #333;
        display: inline-block;
        position: relative;
        z-index: 100;
    }
    .post-block-content {
        padding: 15px 5px 5px 15px;
    }
    .post-block-content h3 {
        font-size: 15px;
    }
    .izara-breadcrumb-bg,
    .izara-breadcrumb-area {
        padding: 105px 0 105px;
    }
    .breadcrumb-inner-content h1,
    .izara-breadcrumb-area h1 {
        font-size: 33px;
        margin-bottom: 5px;
    }
    .izara-single-blog-breadcrumb h1 {
        font-size: 24px;
        margin-bottom: 7px;
    }
    .izara-project-inner h3:before {
        bottom: -17px;
        width: 35px;
        height: 4px;
        margin-left: -17.5px;
    }
    .izara-site-footer .widget {
        padding-top: 15px;
        padding-bottom: 0;
    }
    .header-top-area {
        font-size: 14px;
    }
    .home-video-section .vc_column-inner {
        padding-left: 30px!important;
    }
    .home-news-section .vc_column-inner {
        padding-right: 30px!important;
        padding-left: 30px!important;
    }
    .about-page-video .vc_column-inner {
        padding-left: 15px!important
    }
    .about-page-skill .vc_column-inner {
        padding-left: 15px!important;
    }
    .footer-top-widgets {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    blockquote {
        font-size: 16px;
    }
    .izara-slide-table {
        text-align: center;
    }
    .izara_slide_item p {
        margin: auto 50px 10px 50px;
        letter-spacing: 2px;
        font-size: 18px;
    }
    .izara_slide_item,
    .izara-slider-wrapper {
        max-height: 500px;
    }
	.vc_row.home-contact-bg {
		background-position: 35%;
	}
}
/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    body {
        font-size: 14px;
    }
    .header-box {
        margin-right: 15px;
        padding-top: 0px;
        margin-bottom: 3px;
    }
    .top_info span i.fa {
        padding-right: 6px;
    }
    .header-top-area {
        padding-top: 10px;
    }
    .mainmenu ul li a {
        padding: 35px 13px 34px 23px;
    }
    .mainmenu li ul {
        width: 190px;
    }
    .mainmenu li ul li a {
        padding: 12px 15px 12px;
        font-size: 13px;
        padding-left: 20px;
    }
    .slicknav_menu {
        display: block;
    }
    .izara-page-content .wpb_text_column li {
        margin-bottom: 7px;
    }
    .single-izara-project-wrap.col-md-4 .izara-project-thumb {
        height: 210px;
    }
    .single-izara-project-wrap.col-md-3 .izara-project-thumb {
        height: 175px;
    }
    .single-izara-project-wrap.col-md-3 .izara-project-inner h3 {
        font-size: 15px;
        margin-bottom: 3px!important;
    }
    .portfolio-content {
        font-size: 16px;
    }
    .portfolio-content h1 {
        font-size: 27px;
    }
    .cta-box-text {
        font-size: 20px;
        letter-spacing: 0;
    }
    .cta-box-text {
        padding-right: 0px;
    }
    .cta-btn {
        font-size: 14px;
        padding: 10px 25px;
        font-weight: 400;
        position: static;
        margin: 15px auto 0;
    }
    .top_info {
        text-align: center;
        margin-bottom: 0px;
    }
    .top_social {
        text-align: center;
        margin-bottom: 13px;
    }
    .top_social a {
        margin-left: 0;
        margin-right: 10px;
    }
    .mainmenu {
        display: none;
    }
    .custom-heading h1 {
        font-size: 30px;
    }
    .section-heading h1 {
        font-size: 30px;
    }
    .site-logo h2 {
        margin: 15px 0 18px;
    }
    .site-logo h2 a {
        color: #333;
        display: inline-block;
        position: relative;
        z-index: 100;
    }
    .project-list .col-md-4 {
        width: 100%;
        position: relative!important;
        left: 0!important;
        top: 0!important;
    }
    .project-list {
        height: auto!important;
    }
    .izara-project-categories li {
        padding: 10px 5px 10px 5px;
    }
    .post-block-content {
        padding: 15px 5px 5px 15px;
    }
    .post-block-content h3 {
        font-size: 17px;
    }
    .izara-breadcrumb-bg,
    .izara-breadcrumb-area {
        padding: 50px 0 50px;
    }
    .breadcrumb-inner-content h1,
    .izara-breadcrumb-area h1 {
        font-size: 30px;
        margin-bottom: 5px;
    }
    .izara-single-blog-breadcrumb h1 {
        font-size: 24px;
        margin-bottom: 7px;
    }
    .izara-project-inner h3:before {
        bottom: -17px;
        width: 35px;
        height: 4px;
        margin-left: -17.5px;
    }
    .izara-count-box h1 {
        font-size: 35px;
        line-height: 35px;
    }
    .izara-site-footer .widget {
        padding-top: 15px;
        padding-bottom: 0;
    }
    .izara-site-footer h3.footer-widget-title {
        font-size: 22px;
        margin-bottom: 20px;
    }
    .header-top-area {
        font-size: 13px;
    }
    .home-video-section .vc_column-inner {
        padding-left: 15px!important;
    }
    .home-news-section .vc_column-inner {
        padding-right: 15px!important;
        padding-left: 15px!important;
    }
    .about-page-video .vc_column-inner {
        padding-left: 15px!important
    }
    .about-page-skill .vc_column-inner {
        padding-left: 15px!important;
    }
    .footer-top-widgets {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    blockquote {
        font-size: 16px;
    }
    .izara-cta-box {
        text-align: center;
    }
    .home-news-section {
        margin-bottom: 35px;
    }
    .single-izara-testimonial {
        margin-bottom: 40px;
    }
    .izara-footer-area {
        font-size: 13px;
    }
    .content-box {
        font-size: 14px;
        margin-bottom: 35px;
    }
    .content-box-inner h3 {
        font-size: 18px;
        margin-bottom: 10px!important;
    }
    .project-meta-item {
        display: block;
        width: 100%;
        text-align: left;
        float: none;
        margin: 0 0px 25px 0px;
    }
    .izara-related-projects h2 {
        font-size: 25px;
    }
    .single-team-list {
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
    .team-thumb-box {
        margin-bottom: 25px;
    }
    .single-team-list .izara-team-detail {
        font-size: 14px;
    }
    .services-content .wpb_text_column {
        font-size: 15px;
    }
    .blog-page-padding {
        padding-right: 15px;
    }
    .entry-header h2 {
        font-size: 18px;
        line-height: 22px;
    }
    .post-block-thumb {
        height: 200px;
    }
    div.slicknav_menu {
        font-size: 14px;
        font-weight: 300;
    }
    .vc_row.testimonial-home-section .izara-testimonial-content {
        max-width: 100%;
    }
    .izara-slides .owl-nav {
        display: none;
    }
    .izara_slide_item h2 {
        font-size: 26px;
    }
    .izara_slide_item {
        font-size: 14px;
    }
    .izara-slider-btn {
        font-size: 12px;
        margin-bottom: 20px;
    }
    .izara-slide-table {
        text-align: center;
    }
    .izara_slide_item p {
        margin: auto 0 10px 0;
        letter-spacing: 1px;
        font-size: 15px;
        font-weight: normal;
    }
    .izara_slide_item,
    .izara-slider-wrapper {
        max-height: 450px;
    }
	.vc_row.home-contact-bg {
		background-image: none!important;
	}
	
	.error404 h3 {
		line-height: 1.5;
	}
	.error-title h1 {
		font-size: 80px;
	}
}
/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .header-box {
        margin-right: 15px;
        padding-top: 0px;
    }
    .top_info span i.fa {
        padding-right: 6px;
    }
    .header-top-area {
        padding-top: 10px;
    }
    .mainmenu ul li a {
        padding: 35px 13px 34px 23px;
    }
    .mainmenu li ul {
        width: 190px;
    }
    .mainmenu li ul li a {
        padding: 12px 15px 12px;
        font-size: 13px;
        padding-left: 20px;
    }
    .slicknav_menu {
        display: block;
    }
    .izara-page-content .wpb_text_column li {
        margin-bottom: 7px;
    }
    .single-izara-project-wrap.col-md-4 .izara-project-thumb {
        height: 275px;
    }
    .single-izara-project-wrap.col-md-3 .izara-project-thumb {
        height: 175px;
    }
    .single-izara-project-wrap.col-md-3 .izara-project-inner h3 {
        font-size: 15px;
        margin-bottom: 3px!important;
    }
    .cta-box-text {
        font-size: 20px;
        letter-spacing: 0;
    }
    .cta-box-text {
        padding-right: 0px;
    }
    .cta-btn {
        font-size: 14px;
        padding: 10px 25px;
        font-weight: 400;
        position: static;
        margin: 15px auto 0;
    }
    .top_info {
        text-align: center;
        margin-bottom: 10px;
    }
    .top_social {
        text-align: center;
        margin-bottom: 25px;
    }
    .top_social a {
        margin-left: 0;
        margin-right: 10px;
    }
    .mainmenu {
        display: none;
    }
    .custom-heading h1 {
        font-size: 35px;
    }
    .section-heading h1 {
        font-size: 30px;
    }
    .site-logo h2 {
        margin: 15px 0 18px;
    }
    .site-logo h2 a {
        color: #333;
        display: inline-block;
        position: relative;
        z-index: 100;
    }
    .project-list .col-md-4 {
        width: 100%;
        position: relative!important;
        left: 0!important;
        top: 0!important;
    }
    .project-list {
        height: auto!important;
    }
    .izara-project-categories li {
        padding: 10px 5px 10px 5px;
    }
    .post-block-content {
        padding: 15px 5px 5px 15px;
    }
    .post-block-content h3 {
        font-size: 17px;
    }
    .izara-breadcrumb-bg,
    .izara-breadcrumb-area {
        padding: 105px 0 105px;
    }
    .breadcrumb-inner-content h1,
    .izara-breadcrumb-area h1 {
        font-size: 33px;
        margin-bottom: 5px;
    }
    .izara-single-blog-breadcrumb h1 {
        font-size: 24px;
        margin-bottom: 7px;
    }
    .izara-project-inner h3:before {
        bottom: -17px;
        width: 35px;
        height: 4px;
        margin-left: -17.5px;
    }
    .izara-count-box h1 {
        font-size: 35px;
        line-height: 35px;
    }
    .izara-site-footer .widget {
        padding-top: 15px;
        padding-bottom: 0;
    }
   
    .home-video-section .vc_column-inner {
        padding-left: 15px!important;
    }
    .home-news-section .vc_column-inner {
        padding-right: 15px!important;
        padding-left: 15px!important;
    }
    .about-page-video .vc_column-inner {
        padding-left: 15px!important
    }
    .about-page-skill .vc_column-inner {
        padding-left: 15px!important;
    }
    .footer-top-widgets {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    blockquote {
        font-size: 16px;
		font-style: italic;
    }
    .izara-cta-box {
        text-align: center;
    }
    .home-news-section {
        margin-bottom: 35px;
    }
    .single-izara-testimonial {
        margin-bottom: 40px;
    }
    .izara-site-footer h3.footer-widget-title {
        font-size: 24px;
        margin-bottom: 25px;
    }
    .izara-footer-area {
        font-size: 15px;
    }
    .content-box {
        font-size: 14px;
        margin-bottom: 45px;
    }
    .content-box-inner h3 {
        font-size: 20px;
        margin-bottom: 8px;
    }
    .project-meta-item {
        display: block;
        width: 100%;
        text-align: left;
        float: none;
        margin: 0 0px 25px 0px;
    }
    .izara-related-projects h2 {
        font-size: inherit;
    }
    .single-team-list {
        margin-bottom: 35px;
        padding-bottom: 35px;
    }
    .team-thumb-box {
        margin-bottom: auto;
    }
    .single-team-list .izara-team-detail {
        font-size: 15px;
    }
    .services-content .wpb_text_column {
        font-size: 16px;
    }
    .blog-page-padding {
        padding-right: 15px;
    }
    .entry-header h2 {
        font-size: 23px;
        line-height: normal;
    }
    body {
        font-size: 15px;
    }
    .post-block-thumb {
        height: 250px;
    }
    div.slicknav_menu {
        font-size: 15px;
        font-weight: 400;
    }
    .portfolio-content h1 {
        font-size: 32px;
    }
    .izara_slide_item h2 {
        font-size: 40px;
    }
    .izara_slide_item {
        font-size: 17px;
    }
    .izara-slider-btn {
        font-size: 13px;
        margin-bottom: auto;
    }
	.error404 h3 {
		line-height: 1.3;
	}
	.error-title h1 {
		font-size: 90px;
	}
}

.mainmenu li ul li ul.sub-menu {
    min-width: 210px;
    background-color: #222222;
    box-shadow: 0 3px 38px rgba(0, 0, 0, 0.1);
    list-style: none;
    margin: 0;
    padding: 0px 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: -1;
    margin-top: -50px;
    margin-left: 100%;
    text-align: left;
   opacity: 0;
}

.mainmenu li ul li:hover  ul,.mainmenu li ul li.focus > ul {
    opacity: 1!important;
}

.mainmenu li ul li ul li a{
   border-bottom: 1px solid rgba(255,255,255,.05);
}
